//! **************************************************************************
// Written by: Map O.87xd on Sun Mar 12 21:36:23 2017
//! **************************************************************************

SCHEMATIC START;
NET "Clk_BUFGP/IBUFG" BEL "Clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

