//! **************************************************************************
// Written by: Map O.87xd on Sat Feb 11 18:41:21 2017
//! **************************************************************************

SCHEMATIC START;
NET "Clk_BUFGP/IBUFG" BEL "Clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

