//! **************************************************************************
// Written by: Map O.87xd on Mon Feb 20 19:23:10 2017
//! **************************************************************************

SCHEMATIC START;
NET "Clk_BUFGP/IBUFG" BEL "Clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

